body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;

  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-block {
  background-color: white;
  width: 550px;
  height: auto;
  margin: 15px;
  border-radius: 5px;
  padding: 35px 50px 35px 50px;
}

.text {
  display: flex;

  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Georgia", serif;
  margin: 25px;
}

.author-text {
  display: flex;
  
  font-size: 18px;
  justify-content: right;
  padding-right: 50px;
}

.buttons {
  display: flex;

  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}

.button-quote {
  padding: 15px;
  color: white;
  border-radius: 5px;
  border-style: none;
  margin-left: auto;
  height: 50px;
}

.button-icon {
  margin: 5px;
  padding: 15px;
  color: white;
  border-radius: 5px;
  height: 20px;
}

#link {
  align-items: center;
  justify-content: center;
}

#tweet-quote {
  color: white;
  text-align: center;
  font-size: 14px;
}

#link-tweet-quote {
  color: white;
  text-decoration: none;
}
